*.smk linguist-language=Python
Snakefile linguist-language=Python
report.html linguist-generated
exceRNApipeline/includes/gzstream/* linguist-vendored
exceRNApipeline/includes/catch/* linguist-vendored