*.smk linguist-language=Python
Snakefile linguist-language=Python
.test/* linguist-vendored=false
.test/report.html linguist-generated=true
src/includes/gzstream/* linguist-vendored=true
src/includes/catch/* linguist-vendored=true